@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    DateTime timeUpdate = DateTime.Now;
}

@section scripts
{
    <script src="~/js/scrollButton.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        body {
          background-color:#17191f;
          color: #17191f;
          font-size: 24px;
        }
        #filter {
          background-color: auto;
          width: auto;
          height: 40vh;
          overflow: auto;
        }
        #filter-list {
          
        }
        #filter-input {
            width: auto;
        }
    </style>

}

<nav class="navbar mb-3 bg-secondary ">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-page="./Index" asp-route-CacheId="@Model.CacheId"><strong>Check</strong></a>
        </li>

        <li class="nav-item" style="color:#ffffff">
            <a class="nav-link text-dark" asp-area="" asp-page="./Filter" asp-route-CacheId="@Model.CacheId" >Filter</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="./About" asp-route-CacheId="@Model.CacheId">About</a>
        </li>
    </ul>
</nav>  
 


<div class="container">

    <!------------------------------------------------------ Text Area ------------------------------------------------------->
    <div class="card mx-auto" style="max-width:800px">

          
        <div class="card-body p-4" id="main-chat-area" style="height: 40vh; overflow:auto;">
            <div class="d-flex align-items-center mb-3">
                <div id="chat-list">
                    @foreach (var item in Model.itemList)
                    {
                        <div class="pe-2" style="margin: 10px;">
                            <div class="card card-text d-inline-block p-2 px-3" style="font-size:20px; min-width: 400px; text-align: center;">@item.TextItem.InputString</div>
                            <div class="small">@item.Created</div>
                        </div>
                    }
                </div>

            </div>
        </div>

        <!------------------------ input bar ------------------------>
        <form method="post" style="margin-top: 100px">
                         

            <div class="card-footer bg-white position-absolute w-100 bottom-0 m-0 p-1">
                <div class="input-group">

                    <input type="text" asp-for="UserInput" class="form-control border-0" placeholder="Input..." />

                    <div class="input-group-text bg-transparent border-0">
                        <button class="btn btn-secondary text-white" type="submit" style="font-size:24px" asp-page-handler="SetItem" asp-route-CacheId="@Model.CacheId">Check</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
